<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<header class="header">
    <div class="logo">
        <a href="/"><i class="fa-solid fa-house"></i>  Home</a>
    </div>
    <div class="header__search">
        <form action="/" method="post">
            <input type="text" name="search" placeholder="Search by keyword" required>
            <input type="submit" value = "Search">
        </form>
    </div>
</header>

</html>